{%extends "base.html" %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-start">
        <h2>All Closed Items</h2>
    </div>
    <div class="justify-content-start">
        {{ pagination.links }}
       
    </div>

    

    <form method="POST" action="{{url_for('search')}}">
        <div class="row mb-2">
            <label for="search" name="search">Search ID:</label>
            <div class="col-lg-4"><input type="text" name="search" class="form-control" id="search"></div>
            <div class="col-lg-6"><button type="submit" class="btn btn-primary">Go</button></div>
        </div>
    </form>

    <a href="{{url_for('index')}}" class="btn btn-primary">Home</a>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Provisioning
                    </th>
                    <th>
                        Desktop
                    </th>
                    <th>
                        User
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                {%for form in forms%}
                    {% if form.closed %}
                        <tr>
                            <td>
                                
                                {{form.id}}
                            </td>
                            <td>
                                {%if form.prov_form_id %}
                                    <a href="{{url_for('editprovisioning', form_id=form.id, prov_form_id=form.prov_form_id )}}"><button class="btn btn-primary btn-sm">Details</button></a>                           
                                {%endif%}
                                
                            </td>
                            <td>
                                {%if form.desktop_form_id %}
                                    <a href="{{url_for('editdesktop', form_id=form.id, desktop_form_id=form.desktop_form_id )}}"><button class="btn btn-primary btn-sm">Details</button></a>
                                {%endif%}
                                
                            </td>
                            <td>
                                {%if form.user_form_id  %}
                                    <a href="{{url_for('edituser', form_id=form.id,user_form_id=form.user_form_id )}}"><button class="btn btn-primary btn-sm">Details</button></a>
                                {%endif%}
                            </td>
                            <td>
                                <a href="{{url_for('close', form_id = form.id)}}"><button class="btn btn-danger btn-sm">Close Form</button></a>
                            </td>

                        </tr>
                    {% endif %}
                {%endfor%}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}