{%extends "base.html" %}
{% block content %}

<div class="container">
    <div class="d-flex justify-content-start">
        <h2>User Declaration</h2>
    </div>
    <form method="POST" action="{{url_for('user')}}" class="">
        <p>I declare that on receiving this device, I am responsible for the SBU IT asset. 
            Any changes in ownership within my department must first be authorised with my line manager. 
            Once agreed, I will log a call on the IT Service Desk for this to be authorised and actioned by the SBU IT team. 
            If this device is no longer required, I will log a call on the IT Service Desk for it to be returned to IT. 
            If I am leaving SBUHB or leaving my current role I will log a call on the IT Service Desk, stating my final day of work in the HB/Department and my current line manager. 
            Any damages incurred are the responsibility of the department. 
            A departmental cost code will be required in the event of accidental damage and a call will be logged with SBU IT, immediately.</p>
            <p class="text-danger"><strong>I UNDERSTAND THAT NO IT EQUIPMENT WILL LEAVE IT’S CURRENTLY ASSIGNED DEPARTMENT AND/OR THE HEALTHBOARD AND I WILL CONTACT THE IT HELPDESK PRIOR TO LEAVING THE DEPARTMENT/HB.</strong></p>

            <div class="form-group pb-1 row">
                <div class="col-lg-4">
                    <label for="receivingUser">Receiving User</label>
                    <input class="form-control" type="text" id="receivingUser" placeholder="Username" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
    </form>
</div>


{% endblock %}